@charset "utf-8";
	.XMLID_5_
{
	position : absolute ;
	left : 26px;
	top : 54px;
	width : 166px;
	height : 166px;
}
.XMLID_1_
{
	position : absolute ;
	left : 75px;
	top : 149px;
	width : 70px;
	height : 70px;
}
.XMLID_2_
{
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 220px;
	height : 220px;
}
